/**
 *  Main css of insurance_management addon.
 */


/*
.oe-insurance_management {
    color: black
}
*/

body.oe_single_form .oe_single_form_container {
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  /* Set margins to offset 50% of the w/h */
  margin-top: -300px;
  margin-left: -200px;
}
